*{
    /*background: #1c1c1c;*/
    /*color: white;*/
    font-size: 32px;
}

#my_button {
    /*background: #1c1c1c;*/
    padding: 2px;
    border-radius: 8px;
    border-color: greenyellow;
}

#my_button:hover{
    border-color: white;
}

#my_label {

}

#h1 {
    font-size: 36px;
    font-weight: bold;
}